{% extends 'forum/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'forum/css/post-card.css' %}">
<script src="{% static 'forum/js/post-card.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Search Results</h1>
    <div class="row" id="post-list">
        {% for post in posts %}
            <div class="col-12 mb-4">
                {% include 'forum/components/post_card.html' with post=post %}
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
