/* Section Headings */
.schedule-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.schedule-date {
  font-size: 0.875rem;
  color: #6c757d;
  font-weight: 500;
}

/* Schedule Lists */
#today-schedule .list-group-item,
#tomorrow-schedule .list-group-item {
  background-color: #F4F8FB;
  border-radius: 12px;
  margin-bottom: 5px;
  border-width: 0px;
}

#today-schedule,
#tomorrow-schedule {
  background-color: transparent !important;
  box-shadow: none !important;
}

.schedule-block {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  color: #333;
}

/* Greeting */
#greeting-container h1, #animated-text {
  font-size: 2.25rem;
  letter-spacing: 0.5px;
  text-align: center;
  display: none;
}

/* Schedule Date Picker and Navigation */
#schedule-date-picker {
  border-radius: 2.2rem;
}

#prev-day, #next-day {
  border-radius: 12px;
  color: black;
  border: none !important; 
}

/* Schedule Badge Pills */
.schedule-badge-ceremonial {
  background: #0d6efd;
  color: white;
}

.schedule-badge-early {
  background: #ffd807;
  color: black;
}

.schedule-badge-late {
  background: #17a2b8;
  color: white;
  border: none;
}

#prev-day:hover, #next-day:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  background: white;
}