<div class="root-comments">
    {% for comment in comments %}
        {% if forloop.counter <= 2 %}
            {% include 'forum/components/comment.html' with comment=comment %}
        {% elif forloop.counter == 3 %}
            <div class="collapsed-root-comments" style="display: none;">
                {% include 'forum/components/comment.html' with comment=comment %}
        {% else %}
            {% include 'forum/components/comment.html' with comment=comment %}
        {% endif %}
    {% endfor %}

    {% if solution.root_comments_count > 2 %}
        </div>
        <button class="toggle-root-comments btn btn-link btn-sm" 
                data-solution-id="{{ solution.id }}"
                data-show-text="Show {{ solution.root_comments_count|add:'-2' }} more comments"
                data-hide-text="Hide comments">
            Show {{ solution.root_comments_count|add:'-2' }} more comments
        </button>
    {% endif %}
</div>
